.panel {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.info {
  display: flex;
  align-items:flex-start;
}

.info p {
  font-weight: bold;
  border-bottom: 1px solid rgba(221, 201, 21, 0.507);
  margin: 2px 0;
  padding: 2px;
}

.info-label {
  width: 150px;
}

.info-value {
  width: 130px;
  text-align: center;
}

.restartBtn {
  margin-right: 15px;
  padding: 5px;
  background: rgba(248, 246, 104, 0.288);
  border-radius: 6px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  box-shadow: 0px 1px 3px 1px rgb(2, 2, 2, 0.4);
}

.restartBtn:active {
  transform: translateY(3px);
}

.status {
  color:cornsilk;
  border-radius: 5px;
  margin: 6px;
}