.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(37, 37, 4);
  color:rgb(255, 248, 220);
  padding: 10px;
  font-size: 16px;
}

.game-logo {
  width: 35px;
  height: 35px;
  padding: 3px;
  border-radius: 50%;
  background: rgba(240, 238, 160, 0.973);
  margin: 0 10px;
}

.game-logo.reverse {
  transform: scaleX(-1);
}

@media only screen and (max-width: 500px) {
  .game-logo {
    width: 18px;
    height: 18px;
  }

  .App-header {
    padding: 6px;
    font-size: 14px;
    justify-content:start;
    
  }

  .game-logo.reverse {
    display: none;
  }
}