.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(37, 37, 4);
  color:cornsilk;
  padding: 10px;
}

.game-logo {
  width: 35px;
  height: 35px;
  padding: 3px;
  border-radius: 50%;
  background: rgba(240, 238, 160, 0.973);
  margin: 0 10px;
}

.game-logo.reverse {
  transform: scaleX(-1);
}